body {
    background-color: white;
    
}

.placeholder {
    position: relative;
    top: 5000px;
}

/* Toppbar */
#huvud {
    background-color: #24422d;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

#toppbar {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 0.8fr;
    margin-left: 4%;
    padding: 0.9%;
    color: white;
    font-size: 80%;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

/* övre delen av hemsidan*/
#Logga {
    width: 180px;
}

#Menyknapp {
    width: 47px;
    padding-top: 3px;
}

#Menyknapptext {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 72%;
    letter-spacing: 0.2px;
    padding-top: 20px;
    padding-left: 10px;
}

#searchbar {
    display: grid;
    grid-template-columns: 0.05fr 1fr;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(211, 211, 211);
    margin-top: 3px;
    border-radius: 50px;
    width: 405px;
    padding-left: 25px;
    
}

#magnifyingglas {
    height: 23px;
}

#search {
    width: 80%;
    height: 25px;
    border: none;
    background-color: rgb(247, 247, 247);
    padding: 15px;
    
    
}

.tophögerknappar {
    height: 50px;
}

#övre {
    display: grid;
    grid-template-columns: 1.06fr 0.1fr 0.69fr 3fr 0.5fr 0.5fr 0.5fr;
    padding-top: 15px;
    padding-left: 5.7%;
}



